# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

### My ignores ###
# Excluded Folders
utopia-server-mb
certs/server_ca
certs/root_ca
env
out
venv
Bin
Build

# Exclude Compiled Files
*.a
*.o
*.so
*.obj
*.exe
*.lib
*.dll
